.head{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}


.signus{
    z-index: 3;
    width: 30%;
    border: none;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.signus:hover{
   cursor: pointer;
   background-color: black;
   color: white;
}



.emailBox{
    width: 700px;
    height: 700px;
    justify-content: center;
    align-items: center;
    margin-left: 26%;
    margin-top: 50px;
    padding: 20px;
}

.emailBox input{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    outline: none;
}

.emailBox textarea{
    width: 100%;
    height: 450px;
}

input::file-selector-button{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 0px;

}

.cont{
    height: 500px;
}