@import url('https://fonts.cdnfonts.com/css/joan-2');
@import url('https://fonts.cdnfonts.com/css/leroyletteringlightbeta01');

:root{
  --text:'Joan', sans-serif;
  --secText : 'LeroyLetteringLightBETA01', sans-serif;
}


*{
  margin: 0;
  padding: 0;
}
